
  <div class="side-nav-content">
    
    <ul class="nav-list">
      <li class="nav-list-item">
        <i class="fa-solid fa-house"></i>
      <span>
        <a>Dash Board</a>
      </span>
    </li>
    <li class="nav-list-item">
        <i class="fa-solid fa-plus"></i>
      <span>
        <a routerLink="/mbm">Member Benefits Management</a>
      </span>
    </li>
    <li class="nav-list-item">
      <i class="fa-solid fa-dollar-sign"></i>
    <span>
      <a>Pay Bill</a>
    </span>
  </li>
  <li class="nav-list-item">
      <i class="fa-solid fa-folder"></i>
    <span>
      <a>Reporting</a>
    </span>
  </li>
  </ul>
</div>
<!-- <div>
  <app-mbm></app-mbm>
</div> -->

