<nav class="navbar navbar-expand px-2">
  <div class="logo-container">
    <div class="logo-holder">
      <a href="#">
        <h3 class="badge badge-primary text-wrap" style="width:8rem">Company Logo</h3>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <h4 class="nav-link">Client: LEA NOV-11 Account 8-1055011 <span class="sr-only">(current)</span></h4>
        </li>
        <li class="nav-item">
          <h4 class="nav-link">US Medical <i class="fa-sharp fa-solid fa-down-long"></i></h4>
        </li>
        <li class="nav-item">
          <h4 class="nav-link">User <i class="fa-sharp fa-solid fa-down-long"></i></h4>
        </li>
      </ul>
    <!-- <h4>Client: LEA NOV-11 Account 8-1055011</h4>
    <h4>US Medical</h4>
    <h4>User</h4> -->
  </div>
  </div>
</nav>
<br>
<hr>
<div class="side-nav-button p-2 me-3">
  <i class="fa-solid fa-bars"></i>
</div>
